header {
  font-size: 40px;
  font-weight: bold;
  color: darkblue
}

.label {
  font-size: 20px;
  font-weight: bold;

}

.container {
/* max-width: 400px;
margin: 50px auto;
padding: 10px;
background-color: lightblue;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
margin-left: 100px;
margin-top: -2px;
max-height: 450px; */
}

.text-left {
  font-weight: bold;
  color: blue
}
.textarea{
  width: 100%;
  max-height: 70px;
}



.btn-primary{
  font-size: 100%;
}

.textbox{
  max-width:100%;
  width: 100%;

}
.dropdown1{
  
  max-width:100%;
  width: 100%;
  background-color: lightblue;
}
/* app.component.css */

.background-custom {
  background-color: lightgray;
  padding: 20px; /* Optional: Add some padding */
}

.form-control-custom {
  background-color: lightgray;
  color: black; /* Optional: change text color */
  border: 1px solid #945050; /* Optional: Add border styling */
  padding: 10px; /* Optional: Add padding */
  border-radius: 4px; /* Optional: Add border radius */
  
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  /* border: var(--bs-border-width) solid blue; */
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: rgba(193, 189, 189, 0.925);
}

.scrollable-form-container {
  max-height: 600px; /* Aap is height ko apni requirement ke mutabiq adjust kar sakte hain */
  overflow-y: auto; /* Vertical scrolling enable karega */
  overflow-x: hidden; /* Horizontal scrolling ko disable karega */
  padding: 20px; /* Optional: Padding add karega */
  background-color: lightgray; /* Background color apply karega */
}

.error-message {
  color: red;
  font-weight: bold; /* Optional: makes the text bold */
  font-size: 16px; /* Optional: adjusts the font size */
}