.centered-content {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }
  
 
  .header{
    color:darkblue;
    font-weight: bold;
    text-align: left;
  }
  
  