header {
  font-size: 40px;
  font-weight: bold;
  color: darkblue
}

.label {
  font-size: 20px;
  font-weight: bold;

}

.container {
/* max-width: 400px;
margin: 50px auto;
padding: 10px;
background-color: lightblue;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
margin-left: 100px;
margin-top: -2px;
max-height: 450px; */
}

.text-left {
  font-weight: bold;
  color: blue
}
.textarea{
  width: 80%;
  max-height: 70px;
}
.btn-primary{
  font-size: 100%;
}

.textbox{
  max-width:100%;
  width: 100%;

}
.dropdown1{
  
  max-width:100%;
  width: 100%;
}
/* app.component.css */