<nav class="navbar navbar-expand navbar-dark  px-2" style="background-color: rgb(6, 6, 94);">
  <div class="side-nav-button p-2 me-2 text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" routerLink="home">Employee Management System</a>

  <div>
    <button *ngIf="currentUser.userTypeId === 2 && currentUser.timedIn === null" class="btn btn-primaray" type="button"
      (click)="TimeIn()" style="background-color: white; ">Time In</button>
    <button *ngIf="currentUser.userTypeId === 0 && currentUser.timedIn !== null && currentUser.timedOut !== null  "
      class="btn btn-primaray" type="button" (click)="TimeOut()" style="background-color: white; ">Time Out</button>

  </div>
</nav>