<div class="card" >
    <div class="card-body">
      <h5 class="card-title">Forgot Password</h5>
      <form >
        <div class="mb-3">
            <label for="username" class="form-label" style="color: black; font-weight: bold ;">UserName</label>
            <input style="border: solid 1 px; color:black;" type="text" id="username" placeholder="User Required" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label" style="color: black; font-weight: bold ;">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email Required" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="color: black; font-weight: bold ;">Password</label>
            <div class="input-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Pasword Required"  required>
                <button class="btn btn-outline-secondary" type="button" >
                    <i class="bi bi-eye-slash"></i>
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary active" >Register</button>
    </form>
    <div class="text-center mt-3">
        Already registered? <a routerLink="/login">Login here</a>
    </div>
    </div>
  </div>