<div class="p-grid p-dir-col p-dir-md-row p-g-3">

    <div class="p-col-12 p-md-">
        <p-card header="Recent Leave Requests"
            [style]="{'background-color': 'lightgray','color':'blue','font-weight':'bold'}">
            <p-table [value]="myleaveRequests">
                <ng-template pTemplate="header">
                    <tr class="tr">
                        <th class="th">Requested On</th>
                        <th class="th">Leave Type</th>
                        <th class="th">Leave Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-leaveRequest>
                    <tr class="tr">
                        <td class="td">{{moment.utc(leaveRequest.createdOn).format('YYYY-MMM-DD HH:mm A')}}</td>
                        <td class="td">{{leaveRequest.leaveType}}</td>
                        <td class="td">{{leaveRequest.leaveStatus}}</td>

                    </tr>
                </ng-template>
            </p-table>
            <p-button routerLink="/staff/my-leave-requests" label="View All"> </p-button>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6">
        <p-card header="This Week Ateendence"
            [style]="{'background-color': 'lightgray','color':'blue','font-weight':'bold'}">
            <p-table [value]="attendence">
                <ng-template pTemplate="header">
                    <tr class="tr">
                        <th class="th">Id</th>
                        <th class="th">Time In</th>
                        <th class="th">Time Out</th>
                        <th class="th">Created On</th>
                        <th class="th">Total Hours</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-attendence>
                    <tr class="tr">
                        <td class="td">{{attendence.id}}</td>
                        <td class="td">{{moment.utc(attendence.timedIn).format('YYYY-MMM-DD HH:mm A')}}</td>
                        <td class="td">{{moment.utc(attendence.timeOut).format('YYYY-MMM-DD HH:mm A')}}</td>
                        <td class="td">{{moment.utc(attendence.createdOn).format('YYYY-MMM-DD HH:mm A')}}</td>
                        <td class="td">{{attendence.totalHours}}</td>



                    </tr>
                </ng-template>
            </p-table>
            <p-button routerLink="/staff/my-attendence" label="View All"></p-button>
        </p-card>
    </div>
    <div class="p-col-12">
        <p-card header="Recent Notifications"
            [style]="{'background-color': 'lightgray','color':'blue','font-weight':'bold'}">
            <p-table [value]="notificationlist">
                <ng-template pTemplate="header">
                    <tr class="tr">
                        <th class="th">#</th>
                        <th class="th">Message</th>
                        <th class="th">Status</th>
                        <th class="th">Created On</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-notification let-rowIndex="rowIndex">

                    <tr class="tr">
                        <td class="td">{{rowIndex+1}}</td>
                        <td class="td">{{notification.message}}</td>
                        <td class="td">
                            <p-tag [value]="notification.isSeen ? 'Read' : 'Unread' "
                                [styleClass]="notification.isSeen ? 'p-tag-success' : 'p-tag-danger'"></p-tag>
                        </td>
                        <td class="td">{{moment.utc(notification.createdOn).format('YYYY-MMM-DD HH:mm A')}}</td>

                    </tr>
                </ng-template><br>
            </p-table>
            <p-button label="View All" routerLink="/staff/notifications"></p-button>
        </p-card>
        <br>
    </div>
</div>