<nav class="navbar navbar-expand navbar-dark px-2" style="background-color: rgb(6, 6, 94);">
  <div class="side-nav-button p-2 me-2 text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <a class="navbar-brand px-4" routerLink="home">Employee Management</a>

  <div *ngIf="currentUser.userTypeId === 2">
    <button *ngIf="currentUser.timedIn === null" class="btn btn-primary" type="button"
      (click)="TimeIn()" style="background-color: white; color:black;">Time In</button>
    <button *ngIf="currentUser.timedIn !== null && currentUser.timedOut === null"
      class="btn btn-primary" type="button" (click)="TimeOut()" style="background-color: white; color:black">Time Out</button>
  </div>

  <div class="notification-container" style="display: flex; justify-content: flex-end;">
    <div style="position: relative; display: inline-block; margin-right: -2200%;">
      <span class="p-badge" [ngClass]="{'p-badge-info': latestNotification.unReadCount > 0}" (click)="op.toggle($event)">
        <i class="pi pi-bell" style="font-size: 1.5rem; cursor: pointer;"></i>
        <ng-container *ngIf="latestNotification.unReadCount > 0">{{ latestNotification.unReadCount }}</ng-container>
      </span>
      <p-overlayPanel #op>
        <div *ngFor="let notification of latestNotification.notifications">
          <div class="notification-item">
            <div class="notification-message">{{ notification.message }}</div>
            <div class="notification-date">{{ notification.createdOn }}</div>
          </div>
        </div>
        <div>
          <button (click)="NavigatetoNotificationPage();op.toggle($event)" class="btn btn-primary">View All</button>
        </div>
      </p-overlayPanel>
    </div>
  </div>
</nav>