<div class="container" style="background-color:light; padding: 20px;">
  <div class="row">
    <div class="col-12 col-md-4">
      <p-card header="Total Employee" styleClass="ui-card-shadow"
        [style]="{'background-color': 'rgb(4,67,66)', 'color': 'White', 'border-radius': '10px', 'padding': '5px'}">
        <ng-template pTemplate="title">
          <div class="header">
            <i class="fa fa-user-plus"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p style="text-align: center; font-weight: bold;">{{admindashboard.totalEmployeeCount}}</p>
          <a href="/admin/employee-list" class="link-button" style="color: white; text-decoration: none;">
            <i class="fa fa-arrow-down"></i>
          </a>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 col-md-4 ">
      <p-card header="Leave Requests Pending" styleClass="ui-card-shadow"
        [style]="{'background-color': 'rgb(237,158,32)', 'color': 'White', 'border-radius': '10px', 'padding': '5px'}">
        <ng-template pTemplate="title">
          <div class="header">
            <i class="fa fa-spinner"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p style="text-align: center; font-weight: bold;">{{admindashboard.pendingLeaveRequests}}</p>
          <a [routerLink]="['/admin/leave-requests']" [queryParams]="{status:'1'}" class="link-button" style="color: white; text-decoration: none;">
            <i class="fa fa-arrow-down"></i>
          </a>
        </ng-template>
      </p-card>
    </div>

    <div class="col-12 col-md-4 ">
      <p-card header="Employee On Leaves" styleClass="ui-card-shadow"
        [style]="{'background-color': 'rgb(105,32,251)', 'color': 'White', 'border-radius': '10px', 'padding': '5px'}">
        <ng-template pTemplate="title">
          <div class="header">
            <i class="fa fa-briefcase"></i>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <p style="text-align: center; font-weight: bold;">{{admindashboard.employeeOnLeaves}}</p>
          <a [routerLink]="['/admin/leave-requests']" [queryParams]="{status:'2'}" class="link-button" style="color: white; text-decoration: none;">
            <i class="fa fa-arrow-down"></i>
          </a>
        </ng-template>
      </p-card>
    </div>
  </div>
  <br>

  <div class="p-col-12">
    <p-card [style]="{'color' : 'Blue', 'font-size':'15%' }" header="Attendence Chart" styleClass="ui-card-shadow">
      <ng-template pTemplate="content">
        <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
      </ng-template>
    </p-card>
  </div>
  <br>
  <div class="p-col-12">
    <p-card [style]="{'color' : 'Blue','background-color':'lightgray', 'font-size':'15%' }" header="Leave Requests"
      styleClass="ui-card-shadow">
      <!-- app.component.html -->
      <p-table [value]="admindashboard.leaveRequests">
        <ng-template pTemplate="header">
          <tr class="tr">
            <th class="th">Requested By</th>
            <th class="th">Requested On</th>
            <th class="th">Leave Type</th>
            <th class="th">Leave Status</th>
            <th class="th">Action</th>
          </tr>


        </ng-template>
        <ng-template pTemplate="body" let-leaveRequest>
          <tr class="tr">
            <td class="td">{{leaveRequest.requestedByName}}</td>
            <td class="td">{{moment.utc(leaveRequest.createdOn).format('YYYY-MMM-DD HH:mm A')}}</td>
            <td class="td">{{leaveRequest.leaveType}}</td>
            <td class="td">{{leaveRequest.leaveStatus}}</td>

            <td class="td">
              <div *ngIf="leaveRequest.leaveStatusId == 1 "><p-button icon="pi pi-check"
                  styleClass="p-button-success me-2" (click)="OpenModal(leaveRequest.identifier,2)"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-danger "
                  (click)="OpenModal(leaveRequest.identifier,3)"></p-button>
              </div>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
